In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [29]:
df = pd.read_excel('DataFiles/pone.0176486.s001.xlsx')
df.head()

,Unnamed: 0,Protein,Ala,Asx,Cys,Asp,Glu,Phe,Gly,His,...,Hydrophobicity,LowComplexityRegions,Ser.1,Thr.1,Tyr.1,Ogly_S,Ogly_T,Ngly,SignalP,Trans_Helices
0,0,SOAT1_HUMAN,6.182,0,1.636,3.273,5.091,10.545,3.818,2.182,...,104.7,0,1,2,0,0,0,0,0.000,8
1,0,GLRX2_HUMAN,11.585,0,2.439,3.659,4.878,3.659,7.317,2.439,...,-34.6,1,0,0,0,0,1,0,0.975,0
2,0,CDO1_HUMAN,5.500,0,2.000,5.000,8.000,4.500,5.500,5.500,...,-120.7,0,0,0,0,0,0,0,0.001,0
3,0,LGSN_HUMAN,6.680,0,2.554,5.108,7.466,5.501,5.108,2.161,...,-173.3,0,2,1,0,0,0,0,0.000,0
4,0,NADC_HUMAN,16.835,0,2.020,4.040,5.387,3.704,9.091,2.357,...,96.8,2,0,0,0,0,0,0,0.713,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5893 entries, 0 to 5892
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            5893 non-null   int64
 1   Protein               5893 non-null   object
 2   Ala                   5893 non-null   float64
 3   Asx                   5893 non-null   int64
 4   Cys                   5893 non-null   float64
 5   Asp                   5893 non-null   float64
 6   Glu                   5893 non-null   float64
 7   Phe                   5893 non-null   float64
 8   Gly                   5893 non-null   float64
 9   His                   5893 non-null   float64
 10  Ile                   5893 non-null   float64
 11  Lys                   5893 non-null   float64
 12  Leu                   5893 non-null   float64
 13  Met                   5893 non-null   float64
 14  Asn                   5893 non-null   float64
 15  Pro                   5893 non-null   float64
 16  Gln                   5893 non-null   float64
 17  Arg                   5893 non-null   float64
 18  Ser                   5893 non-null   float64
 19  Thr                   5893 non-null   float64
 20  Val                   5893 non-null   float64
 21  Trp                   5893 non-null   float64
 22  Xaa                   5893 non-null   float64
 23  Tyr                   5893 non-null   float64
 24  Glx                   5893 non-null   int64
 25  Tiny                  5893 non-null   float64
 26  Small                 5893 non-null   float64
 27  Aliphatic             5893 non-null   float64
 28  Aromatic              5893 non-null   float64
 29  Non-polar             5893 non-null   float64
 30  Polar                 5893 non-null   float64
 31  Charged               5893 non-null   float64
 32  Basic                 5893 non-null   float64
 33  Acidic                5893 non-null   float64
 34  Hydrophobicity        5893 non-null   float64
 35  LowComplexityRegions  5893 non-null   int64
 36  Ser.1                 5893 non-null   int64
 37  Thr.1                 5893 non-null   int64
 38  Tyr.1                 5893 non-null   int64
 39  Ogly_S                5893 non-null   int64
 40  Ogly_T                5893 non-null   int64
 41  Ngly                  5893 non-null   int64
 42  SignalP               5893 non-null   float64
 43  Trans_Helices         5893 non-null   int64
dtypes: float64(32), int64(11), object(1)
memory usage: 2.0+ MB

In [5]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['Count', '%']
missing.sort_values(by='Count', ascending=False)

                      Count    %
Unnamed: 0                0  0.0
Protein                   0  0.0
Glx                       0  0.0
Tiny                      0  0.0
Small                     0  0.0
Aliphatic                 0  0.0
Aromatic                  0  0.0
Non-polar                 0  0.0
Polar                     0  0.0
Charged                   0  0.0
Basic                     0  0.0
Acidic                    0  0.0
Hydrophobicity            0  0.0
LowComplexityRegions      0  0.0
Ser.1                     0  0.0
Thr.1                     0  0.0
Tyr.1                     0  0.0
Ogly_S                    0  0.0
Ogly_T                    0  0.0
Ngly                      0  0.0
SignalP                   0  0.0
Tyr                       0  0.0
Xaa                       0  0.0
Trp                       0  0.0
Ile                       0  0.0
Ala                       0  0.0
Asx                       0  0.0
Cys                       0  0.0
Asp                       0  0.0
Glu                       0  0.0
Phe                       0  0.0
Gly                       0  0.0
His                       0  0.0
Lys                       0  0.0
Val                       0  0.0
Leu                       0  0.0
Met                       0  0.0
Asn                       0  0.0
Pro                       0  0.0
Gln                       0  0.0
Arg                       0  0.0
Ser                       0  0.0
Thr                       0  0.0
Trans_Helices             0  0.0

In [6]:
df.columns

Index(['Unnamed: 0', 'Protein', 'Ala', 'Asx', 'Cys', 'Asp', 'Glu', 'Phe',
       'Gly', 'His', 'Ile', 'Lys', 'Leu', 'Met', 'Asn', 'Pro', 'Gln', 'Arg',
       'Ser', 'Thr', 'Val', 'Trp', 'Xaa', 'Tyr', 'Glx', 'Tiny', 'Small',
       'Aliphatic', 'Aromatic', 'Non-polar', 'Polar', 'Charged', 'Basic',
       'Acidic', 'Hydrophobicity      ', 'LowComplexityRegions', 'Ser.1',
       'Thr.1', 'Tyr.1', 'Ogly_S', 'Ogly_T', 'Ngly', 'SignalP',
       'Trans_Helices'],
      dtype='object')

In [7]:
df.rename( columns={'Unnamed: 0':'DTP', 'Hydrophobicity      ': 'Hydrophobicity'}, inplace=True )

In [8]:
df.head()

,DTP,Protein,Ala,Asx,Cys,Asp,Glu,Phe,Gly,His,...,Hydrophobicity,LowComplexityRegions,Ser.1,Thr.1,Tyr.1,Ogly_S,Ogly_T,Ngly,SignalP,Trans_Helices
0,0,SOAT1_HUMAN,6.182,0,1.636,3.273,5.091,10.545,3.818,2.182,...,104.7,0,1,2,0,0,0,0,0.000,8
1,0,GLRX2_HUMAN,11.585,0,2.439,3.659,4.878,3.659,7.317,2.439,...,-34.6,1,0,0,0,0,1,0,0.975,0
2,0,CDO1_HUMAN,5.500,0,2.000,5.000,8.000,4.500,5.500,5.500,...,-120.7,0,0,0,0,0,0,0,0.001,0
3,0,LGSN_HUMAN,6.680,0,2.554,5.108,7.466,5.501,5.108,2.161,...,-173.3,0,2,1,0,0,0,0,0.000,0
4,0,NADC_HUMAN,16.835,0,2.020,4.040,5.387,3.704,9.091,2.357,...,96.8,2,0,0,0,0,0,0,0.713,0

In [9]:
dtp_col = df[['DTP','Protein']]
used_data = df.drop(['DTP','Xaa','Glx', 'Asx'], axis = 1)

In [10]:
used_data.head()

,Protein,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,...,Hydrophobicity,LowComplexityRegions,Ser.1,Thr.1,Tyr.1,Ogly_S,Ogly_T,Ngly,SignalP,Trans_Helices
0,SOAT1_HUMAN,6.182,1.636,3.273,5.091,10.545,3.818,2.182,5.273,4.909,...,104.7,0,1,2,0,0,0,0,0.000,8
1,GLRX2_HUMAN,11.585,2.439,3.659,4.878,3.659,7.317,2.439,3.659,6.707,...,-34.6,1,0,0,0,0,1,0,0.975,0
2,CDO1_HUMAN,5.500,2.000,5.000,8.000,4.500,5.500,5.500,4.500,6.000,...,-120.7,0,0,0,0,0,0,0,0.001,0
3,LGSN_HUMAN,6.680,2.554,5.108,7.466,5.501,5.108,2.161,5.108,5.697,...,-173.3,0,2,1,0,0,0,0,0.000,0
4,NADC_HUMAN,16.835,2.020,4.040,5.387,3.704,9.091,2.357,2.020,4.040,...,96.8,2,0,0,0,0,0,0,0.713,0

In [11]:
print(used_data.dtypes)

Protein                  object
Ala                     float64
Cys                     float64
Asp                     float64
Glu                     float64
Phe                     float64
Gly                     float64
His                     float64
Ile                     float64
Lys                     float64
Leu                     float64
Met                     float64
Asn                     float64
Pro                     float64
Gln                     float64
Arg                     float64
Ser                     float64
Thr                     float64
Val                     float64
Trp                     float64
Tyr                     float64
Tiny                    float64
Small                   float64
Aliphatic               float64
Aromatic                float64
Non-polar               float64
Polar                   float64
Charged                 float64
Basic                   float64
Acidic                  float64
Hydrophobicity          float64
LowComplexityRegions      int64
Ser.1                     int64
Thr.1                     int64
Tyr.1                     int64
Ogly_S                    int64
Ogly_T                    int64
Ngly                      int64
SignalP                 float64
Trans_Helices             int64
dtype: object

In [12]:
# create an empty list to store column names
int_cols = []

# iterate through the columns in the dataframe and append columns of dtype int to int_col
for col in used_data.columns:
    if used_data[col].dtype == 'int64':
        int_cols.append(col)

print(int_cols)

['LowComplexityRegions', 'Ser.1', 'Thr.1', 'Tyr.1', 'Ogly_S', 'Ogly_T', 'Ngly', 'Trans_Helices']

In [13]:
cat_df = used_data[int_cols]
cat_df.head(2)

,LowComplexityRegions,Ser.1,Thr.1,Tyr.1,Ogly_S,Ogly_T,Ngly,Trans_Helices
0,0,1,2,0,0,0,0,8
1,1,0,0,0,0,1,0,0

In [14]:
def one_hot_encode_cols(df, cols):
    for col in cols:
        df = pd.concat([df, pd.get_dummies(df[col], prefix=col)], axis=1)
        df = df.drop(col, axis=1)
    return df

cat_df = one_hot_encode_cols(used_data, int_cols)

In [15]:
cat_df.head()

,Protein,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,SOAT1_HUMAN,6.182,1.636,3.273,5.091,10.545,3.818,2.182,5.273,4.909,...,0,0,0,0,0,0,0,0,0,0
1,GLRX2_HUMAN,11.585,2.439,3.659,4.878,3.659,7.317,2.439,3.659,6.707,...,0,0,0,0,0,0,0,0,0,0
2,CDO1_HUMAN,5.500,2.000,5.000,8.000,4.500,5.500,5.500,4.500,6.000,...,0,0,0,0,0,0,0,0,0,0
3,LGSN_HUMAN,6.680,2.554,5.108,7.466,5.501,5.108,2.161,5.108,5.697,...,0,0,0,0,0,0,0,0,0,0
4,NADC_HUMAN,16.835,2.020,4.040,5.387,3.704,9.091,2.357,2.020,4.040,...,0,0,0,0,0,0,0,0,0,0

In [16]:
cat_df = cat_df.drop('Protein', axis=1)
cat_df.columns.unique()

Index(['Ala', 'Cys', 'Asp', 'Glu', 'Phe', 'Gly', 'His', 'Ile', 'Lys', 'Leu',
       ...
       'Trans_Helices_10', 'Trans_Helices_11', 'Trans_Helices_12',
       'Trans_Helices_13', 'Trans_Helices_14', 'Trans_Helices_15',
       'Trans_Helices_16', 'Trans_Helices_17', 'Trans_Helices_19',
       'Trans_Helices_31'],
      dtype='object', length=282)

In [17]:
unique_columns = []

for i in cat_df.columns.unique():
    unique_columns.append(i)

print(unique_columns)
print(len(unique_columns))

['Ala', 'Cys', 'Asp', 'Glu', 'Phe', 'Gly', 'His', 'Ile', 'Lys', 'Leu', 'Met', 'Asn', 'Pro', 'Gln', 'Arg', 'Ser', 'Thr', 'Val', 'Trp', 'Tyr', 'Tiny', 'Small', 'Aliphatic', 'Aromatic', 'Non-polar', 'Polar', 'Charged', 'Basic', 'Acidic', 'Hydrophobicity', 'SignalP', 'LowComplexityRegions_0', 'LowComplexityRegions_1', 'LowComplexityRegions_2', 'LowComplexityRegions_3', 'LowComplexityRegions_4', 'LowComplexityRegions_5', 'LowComplexityRegions_6', 'LowComplexityRegions_7', 'LowComplexityRegions_8', 'LowComplexityRegions_9', 'LowComplexityRegions_10', 'LowComplexityRegions_11', 'LowComplexityRegions_12', 'LowComplexityRegions_13', 'LowComplexityRegions_14', 'LowComplexityRegions_15', 'LowComplexityRegions_16', 'LowComplexityRegions_17', 'LowComplexityRegions_18', 'LowComplexityRegions_19', 'LowComplexityRegions_20', 'LowComplexityRegions_21', 'LowComplexityRegions_22', 'LowComplexityRegions_23', 'LowComplexityRegions_24', 'LowComplexityRegions_25', 'LowComplexityRegions_26', 'LowComplexityRegions_27', 'LowComplexityRegions_28', 'LowComplexityRegions_29', 'LowComplexityRegions_30', 'LowComplexityRegions_31', 'LowComplexityRegions_32', 'LowComplexityRegions_33', 'LowComplexityRegions_35', 'LowComplexityRegions_37', 'LowComplexityRegions_38', 'LowComplexityRegions_39', 'LowComplexityRegions_40', 'LowComplexityRegions_42', 'LowComplexityRegions_67', 'LowComplexityRegions_73', 'LowComplexityRegions_76', 'LowComplexityRegions_80', 'LowComplexityRegions_103', 'LowComplexityRegions_130', 'LowComplexityRegions_243', 'Ser.1_0', 'Ser.1_1', 'Ser.1_2', 'Ser.1_3', 'Ser.1_4', 'Ser.1_5', 'Ser.1_6', 'Ser.1_7', 'Ser.1_8', 'Ser.1_9', 'Ser.1_10', 'Ser.1_11', 'Ser.1_12', 'Ser.1_13', 'Ser.1_14', 'Ser.1_15', 'Ser.1_16', 'Ser.1_17', 'Ser.1_18', 'Ser.1_19', 'Ser.1_20', 'Ser.1_21', 'Ser.1_23', 'Ser.1_25', 'Ser.1_26', 'Ser.1_27', 'Ser.1_28', 'Ser.1_32', 'Ser.1_34', 'Ser.1_36', 'Ser.1_48', 'Ser.1_53', 'Ser.1_93', 'Ser.1_135', 'Thr.1_0', 'Thr.1_1', 'Thr.1_2', 'Thr.1_3', 'Thr.1_4', 'Thr.1_5', 'Thr.1_6', 'Thr.1_7', 'Thr.1_8', 'Thr.1_9', 'Thr.1_10', 'Thr.1_11', 'Thr.1_12', 'Thr.1_13', 'Thr.1_14', 'Thr.1_15', 'Thr.1_16', 'Thr.1_17', 'Thr.1_18', 'Thr.1_19', 'Thr.1_20', 'Thr.1_21', 'Thr.1_22', 'Thr.1_23', 'Thr.1_24', 'Thr.1_25', 'Thr.1_26', 'Thr.1_27', 'Thr.1_28', 'Thr.1_29', 'Thr.1_30', 'Thr.1_32', 'Thr.1_33', 'Thr.1_35', 'Thr.1_36', 'Thr.1_38', 'Thr.1_39', 'Thr.1_41', 'Thr.1_42', 'Thr.1_43', 'Thr.1_45', 'Thr.1_49', 'Thr.1_51', 'Thr.1_53', 'Thr.1_54', 'Thr.1_56', 'Thr.1_58', 'Thr.1_61', 'Thr.1_65', 'Thr.1_71', 'Thr.1_72', 'Thr.1_100', 'Thr.1_197', 'Thr.1_239', 'Tyr.1_0', 'Tyr.1_1', 'Tyr.1_2', 'Tyr.1_3', 'Tyr.1_4', 'Tyr.1_5', 'Tyr.1_6', 'Tyr.1_7', 'Tyr.1_8', 'Tyr.1_9', 'Tyr.1_10', 'Tyr.1_11', 'Tyr.1_12', 'Tyr.1_13', 'Tyr.1_16', 'Tyr.1_18', 'Tyr.1_20', 'Tyr.1_40', 'Tyr.1_45', 'Ogly_S_0', 'Ogly_S_1', 'Ogly_S_2', 'Ogly_S_3', 'Ogly_S_4', 'Ogly_S_5', 'Ogly_S_6', 'Ogly_S_7', 'Ogly_S_8', 'Ogly_S_9', 'Ogly_S_10', 'Ogly_S_11', 'Ogly_S_12', 'Ogly_S_13', 'Ogly_S_14', 'Ogly_S_16', 'Ogly_S_17', 'Ogly_S_18', 'Ogly_S_20', 'Ogly_S_23', 'Ogly_S_32', 'Ogly_S_54', 'Ogly_S_73', 'Ogly_T_0', 'Ogly_T_1', 'Ogly_T_2', 'Ogly_T_3', 'Ogly_T_4', 'Ogly_T_5', 'Ogly_T_6', 'Ogly_T_7', 'Ogly_T_8', 'Ogly_T_9', 'Ogly_T_10', 'Ogly_T_11', 'Ogly_T_12', 'Ogly_T_13', 'Ogly_T_14', 'Ogly_T_15', 'Ogly_T_16', 'Ogly_T_17', 'Ogly_T_18', 'Ogly_T_20', 'Ogly_T_21', 'Ogly_T_22', 'Ogly_T_23', 'Ogly_T_25', 'Ogly_T_26', 'Ogly_T_31', 'Ogly_T_32', 'Ogly_T_34', 'Ogly_T_40', 'Ogly_T_76', 'Ogly_T_1642', 'Ngly_0', 'Ngly_1', 'Ngly_2', 'Ngly_3', 'Ngly_4', 'Ngly_5', 'Ngly_6', 'Ngly_7', 'Ngly_8', 'Ngly_9', 'Ngly_10', 'Ngly_11', 'Ngly_12', 'Ngly_13', 'Ngly_14', 'Ngly_15', 'Ngly_16', 'Ngly_17', 'Ngly_18', 'Ngly_19', 'Ngly_20', 'Ngly_22', 'Ngly_25', 'Trans_Helices_0', 'Trans_Helices_1', 'Trans_Helices_2', 'Trans_Helices_3', 'Trans_Helices_4', 'Trans_Helices_5', 'Trans_Helices_6', 'Trans_Helices_7', 'Trans_Helices_8', 'Trans_Helices_9', 'Trans_Helices_10', 'Trans_Helices_11', 'Trans_Helices_12', 'Trans_Helices_13', 'Trans_Helices_14', 'Trans_Helices_15', 'Trans_Helices_16', 'Trans_Helices_17', 'Trans_Helices_19', 'Trans_Helices_31']
282

In [18]:
ohe_df = cat_df
ohe_df.head(2)

,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,Leu,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,6.182,1.636,3.273,5.091,10.545,3.818,2.182,5.273,4.909,11.091,...,0,0,0,0,0,0,0,0,0,0
1,11.585,2.439,3.659,4.878,3.659,7.317,2.439,3.659,6.707,9.146,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# sns.pairplot(df, diag_kind='hist')

In [20]:
ohe_df.head(2)

,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,Leu,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,6.182,1.636,3.273,5.091,10.545,3.818,2.182,5.273,4.909,11.091,...,0,0,0,0,0,0,0,0,0,0
1,11.585,2.439,3.659,4.878,3.659,7.317,2.439,3.659,6.707,9.146,...,0,0,0,0,0,0,0,0,0,0

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
norm_data = scaler.fit_transform(ohe_df)
norm_data = pd.DataFrame(norm_data, columns=ohe_df.columns)
norm_data.head()

,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,Lys,Leu,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,0.201217,0.049898,0.135014,0.192164,0.606348,0.082153,0.072733,0.316374,0.157088,0.291141,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.377079,0.074389,0.150936,0.184124,0.210396,0.157443,0.081300,0.219536,0.214624,0.240084,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.179019,0.061000,0.206254,0.301967,0.258755,0.118346,0.183333,0.269995,0.192000,0.223126,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.217427,0.077897,0.210709,0.281810,0.316313,0.109911,0.072033,0.306474,0.182304,0.242394,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.547961,0.061610,0.166653,0.203337,0.212984,0.195615,0.078567,0.121198,0.129280,0.327025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
norm_data = pd.concat([dtp_col,norm_data],axis=1)
norm_data.head(2)

,DTP,Protein,Ala,Cys,Asp,Glu,Phe,Gly,His,Ile,...,Trans_Helices_10,Trans_Helices_11,Trans_Helices_12,Trans_Helices_13,Trans_Helices_14,Trans_Helices_15,Trans_Helices_16,Trans_Helices_17,Trans_Helices_19,Trans_Helices_31
0,0,SOAT1_HUMAN,0.201217,0.049898,0.135014,0.192164,0.606348,0.082153,0.072733,0.316374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,GLRX2_HUMAN,0.377079,0.074389,0.150936,0.184124,0.210396,0.157443,0.081300,0.219536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
from pathlib import Path 

filepath = Path('DataFiles/NormalizedData.csv')  
# filepath.parent.mkdir(parents=True, exist_ok=True)  
norm_data.to_csv(filepath, index=False)